body{
   /* background-image: url("images/cristal.jpg"); */
   	background-color: #888888;
	background-size: cover;
	background-repeat: no-repeat;
}
h1
{
	text-align: center;
	background-image: linear-gradient(to left, violet, indigo, blue, teal, yellow, orange, red);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
h2
{
	text-align: center;
}
p
{
	font-family: cursive;
	color: black;
	font-size: 1em;
	font-weight: bold;
	height: 8px;	
}
#chiffre p{
	text-align: center;
}
#explication p{
	font-weight: normal;
	height: auto;
	font-family: 'Times New Roman', Times, serif;
}
.table{
	padding-bottom: 8em;
}
h2, h1, h3, h4
{
	color : white;
}
a
{
	font-style: italic;
	color: white; 
}
img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
form
{
	text-align: center;
}